<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">

                <resource id="Magento2Developer_ChatGPT::chatgpt" title="chatgpt" sortOrder="10">
                    <resource id="Magento2Developer_ChatGPT::index_index" title="index index" sortOrder="10"/>
                    <resource id="Magento2Developer_ChatGPT::index_image" title="index image" sortOrder="10"/>
                </resource>
                <resource id="Magento2Developer_ChatGPT::Prompt" title="Prompt" sortOrder="10">
                    <resource id="Magento2Developer_ChatGPT::Prompt_save" title="Save Prompt" sortOrder="10"/>
                    <resource id="Magento2Developer_ChatGPT::Prompt_delete" title="Delete Prompt" sortOrder="20"/>
                    <resource id="Magento2Developer_ChatGPT::Prompt_update" title="Update Prompt" sortOrder="30"/>
                    <resource id="Magento2Developer_ChatGPT::Prompt_view" title="View Prompt" sortOrder="40"/>
                </resource>

				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Magento2Developer_ChatGPT::config_magento2developer_chatgpt" title="product"/>
						</resource>
					</resource>
				</resource>

			</resource>
		</resources>
	</acl>
</config>
