<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<magento2developer>
			<chatgpt>
				<token/>
                <model>chatgpt-3</model>
                <model_image>dall-e-3</model_image>
			</chatgpt>
		</magento2developer>
	</default>
</config>
